
@import url('https://fonts.googleapis.com/css?family=Mina');h1 {
    text-align: center;
    font-size: 1.3rem;
    
    
}@media (min-width: 800px) {h1 {
        font-size: 2rem
    
    
}
    }body {
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
    color: black;
    background-color: white;
}.container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}.container::after {
        content: "";
        clear: both;
        display: table;
    }.slide-container {
        float: left;
        width: 100%;
        background-color: black;
        border-radius: 0 0 1rem 1rem;
    
}@media (min-width: 800px) {.slide-container {
            width: 81%
    
}
    }@media (min-width: 800px) {
            .slide-container__col--1 {
            width: 10%;
            float:left;
            margin-left: 2%;
            margin-top: 2%;
            

        }
        
            .slide-container__col--2 {
                width: 10%;
                float: left;
                margin-left: 25%; 
                margin-top: 2%;
            }

            .slide-container__col--3 {
                width: 10%;
                float: left;
                margin-left: 28%;
                margin-top: 2%;
            }
    }.slide-container img {
            height: 7.25rem;
            margin-left: 9%;
            width: 7.25rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
    }@media (min-width: 800px) {.slide-container img {
            margin-top: 0;
            height: 10.25rem;
            width: 10.25rem;
            margin-bottom: 0
    }
    }.navbar {
        background-color: black;
        padding: 0.5rem 1rem;
        border-radius: 1rem 1rem 0 0;
        font-size: 0.9rem;
}.navbar__submenu {
            display: none;
        }@media (min-width: 800px) {.navbar {
        float: left;
        width: 10%;
        background-color: black;
        padding: 0 1rem;
        border-radius: 1rem 0 0 1rem
}
    }.navbar ul {
        margin: 0;
        padding: 0;
        
    }.navbar ul li {
        
        color: white;
        list-style: none;
        font-size: 0.8rem;
        padding: 0.125rem 0.125rem;
        margin: 1.125rem 1rem; 
        text-align: center;
        display: inline;    
    }@media (min-width: 800px) {.navbar ul li {
            font-size: 1rem;
            list-style: none;
            text-align: center;
            width: 100%;
            margin: 1.125rem 0;    
            -webkit-transform: scale(1);    
                    transform: scale(1);
            display: block;    
            border-radius: 0.5rem;
            box-sizing: border-box    
    }

            .navbar ul li:hover {
                cursor: pointer;
                background-color: grey;
                color: black;
            }
    }