.slide-container {
        float: left;
        width: 100%;
        background-color: black;
        border-radius: 0 0 1rem 1rem;
        
        @mixin atMedium {
            width: 81%;
        }
        
   
    
    
    &__col {
        @mixin atMedium {
            &--1 {
            width: 10%;
            float:left;
            margin-left: 2%;
            margin-top: 2%;
            

        }
        
            &--2 {
                width: 10%;
                float: left;
                margin-left: 25%; 
                margin-top: 2%;
            }

            &--3 {
                width: 10%;
                float: left;
                margin-left: 28%;
                margin-top: 2%;
            }
            
        }
        
       
    }
    
    
    img {
            height: 7.25rem;
            margin-left: 9%;
            width: 7.25rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        
        @mixin atMedium {
            margin-top: 0;
            height: 10.25rem;
            width: 10.25rem;
            margin-bottom: 0;
        }
    }
    
}